<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}

<body class="container">
	<div class="row">

		<div class="col-md-6 col-md-offset-3" style="text-align:center;margin-bottom:48px">
			<h1>Project</h1>
			<hr />

			<h3 style="margin-top:48px">Request Payload</h3>
			<hr />
			<p>
                The request payload will include a JSON with 4 fields.
                <br>
                ● “startDate” and “endDate” fields will contain the date in a “YYYY-MM-DD” format. You
                should filter the data using “createdAt”
                <br>
                ● “minCount” and “maxCount” are for filtering the data. Sum of the “count” array in the
                documents should be between “minCount” and “maxCount”.
                <br>

                send post request on
                <code>$ https://notejsrecordapp.herokuapp.com/api/ </code>

                <br>

                Sample:
                <br>
                {
                "startDate": "2016-01-26",
                "endDate": "2018-02-02",
                "minCount": 2700,
                "maxCount": 3000
                }
            </p>

            <h3 style="margin-top:48px">Response Payload</h3>
            <hr />
            <p>
                Response payload should have 3 main fields.
                <br>
                ● “code” is for status of the request. 0 means success. Other values may be used for
                errors that you define.
                <br>
                ● “msg” is for description of the code. You can set it to “success” for successful
                requests. For unsuccessful requests, you should use explanatory messages.
                <br>
                ● “records” will include all the filtered items according to the request. This array should
                include items of “key”, “createdAt” and “totalCount” which is the sum of the “counts”
                array in the document.
                <br>
                Sample:
                <br>
                {
                "code":0,
                "msg":"Success",
                "records":[
                {
                "key":"TAKwGc6Jr4i8Z487",
                "createdAt":"2017-01-28T01:22:14.398Z",
                "totalCount":2800
                },
                {
                "key":"NAeQ8eX7e5TEg7oH",
                "createdAt":"2017-01-27T08:19:14.135Z",
                "totalCount":2900
                }
                ]
                }
            </p>

			<h3 style="margin-top:48px">Start Application</h3>
			<hr />
</pre>

				Then starting by simply entering the start command:
<pre style="text-align:left;margin-top:8px;background:#333;color:#fff">
<code>$ turbo devserver</code>
</pre>

				When deployment is complete, you will see it, if you enter link that is dev server running on
            <br>

            <code>$ http://localhost:3000</code>


            </p>


		</div>
	</div>


  <!-- Turbo library imports: jQuery, Turbo CDN, sample app.js.
  NOTE: These should be minified in a build script -->
  <script type="text/javascript" src="/js/jquery.js"></script>

  <!-- For file uploading. Remove if file upload not necessry -->
  <script type="text/javascript" src="/js/dropzone.js"></script>

  <!-- Turbo CDN. Better to use CDN than to store locally. -->
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>

  <!-- Your app specific code -->
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
